.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.admin-main {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.admin-content {
  padding: 1.5rem;
  background-color: #ffffff;
  width: 186%;
}

@media (max-width: 768px) {
  .admin-main {
    margin-left: 0;
  }
}
  /* background-color: #f9fafb; */