.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.modal-content {
  background: #ffffff;
  border-radius: 16px;
  padding: 2rem 2.2rem;
  width: 420px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeInUp 0.3s ease-in-out;
  transition: all 0.3s ease;
}

.modal-content h3 {
  text-align: center;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.modal-content input {
    width: 92%;
  padding: 0.85rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  color:#1e293b;
  background-color:aliceblue;
  font-size: 1rem;
  margin-top: -10px;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.modal-content input:focus {
  border-color: #2e8b57;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(46, 139, 87, 0.15);
  outline: none;
}

.modal-content label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #444;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.save-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 48px;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.save-btn:hover {
  background: #23913e;
  transform: scale(1.03);
}

.cancel-btn {
  background: #e0e0e0;
  color: #333;
  border: none;
  padding: 10px 48px;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.cancel-btn:hover {
  background: #c9c9c9;
  transform: scale(1.03);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
