.dashboard-container {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;/* ياخذ ارتفاع كامل الصفحة */
  overflow-y: auto; /* باش تنجم تسكر السحب إذا المحتوى كبير */
}


.dashboard-container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #065f46;
  margin-bottom: 1rem;
}

.dashboard-cards {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: #f0fdf4;
  border: 1px solid #bbf7d0;
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1 1 200px;
}

.dashboard-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #065f46;
}
